[Desktop Entry]
Categories=Utility;
Comment[en_US]=Mouse & Keyboard sharing via LAN
Comment=Mouse & Keyboard sharing via LAN
Comment[de_DE]=Maus- und Tastaturfreigabe über LAN
Exec=lan-mouse
Icon=syntra
Name[en_US]=Syntra
Name=Syntra
StartupNotify=true
Terminal=false
Type=Application
