<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:theme="@style/AppTheme" android:label="@string/notification_title">
        <activity
            android:name=".LanMouseActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <meta-data
                android:name="android.app.lib_name"
                android:value="lan_mouse_ui" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".LanMouseForegroundService"
            android:exported="false"
            android:stopWithTask="true"
            android:foregroundServiceType="connectedDevice" />
    </application>
</manifest>
